<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title th:text="${title}">Java Demo</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <!-- Navigation -->
  <header class="nav">
    <a th:href="@{/}" th:classappend="${page}=='home' ? ' active'">Home</a>
    <a th:href="@{/challenges}" th:classappend="${page}=='challenges' ? ' active'">Challenges</a>
    <a th:href="@{/s3}" th:classappend="${page}=='s3' ? ' active'">S3</a>
  </header>

  <!-- Main content -->
  <main class="container">
    <div class="card">
      <h1 class="h1 text-center" th:text="${title}">Java Demo</h1>
      <p class="muted text-center" th:text="${message}">Default message</p>

      <h3>Banner (This banner is controlled by a text file in S3 and you can retroactively update it.)</h3>
      <p><strong class= "text-center" th:text="${banner}">Default banner</strong></p>

      <div class="row">
        <form action="/admin/banner" method="post" class="row" style="flex:1">
          <input class="input" name="text" placeholder="New banner text" required>
          <button class="btn">Update</button>
        </form>
        <form action="/admin/banner/refresh" method="post">
          <button class="btn secondary">Refresh</button>
        </form>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <small>© 2025 DJ • Spring Boot + AWS S3 Demo</small>
  </footer>

</body>
</html>